body{
	margin: 0 auto;
	max-width: 2000px;
}
a{
	text-decoration: none;
}
#header{
	width: 100%;
	height: 100px;
	background-image: linear-gradient(rgb(53, 172, 136),#1d7069);
}
#menusymbol{
display: none;
position: absolute; 
left: 10px; 
top: 7px; 
height: 30px; 
width: 30px; 
cursor: pointer;
}
#searchsymbol{
	height: 30px;
	width: 30px;
	position: absolute;
	top: 8px;
	right: 30px;
	cursor: pointer;
}
#searchbutton{
	position: absolute;
	right: 1px;
	top: 3px;
	height: 25px;
	width: 70px;
	cursor: pointer;
	border: none;
	border-radius: 3px;
}
#searchbutton:hover{
	background-color:#1d7069;
}
#searchbutton:hover #searchsymhbol2{
	transform: scale(1.15);
}
#searchform{
	position: absolute;
	top: 7px;
	right: 100px;
	padding: 0;
	margin: 0;
}
#search{
	height: 30px;
	width: 410px;
}
#homesymbol:hover{
	transform: scale(1.15);
}
#searchsymbol:hover{
    transform:scale(1.15);
}
#nav{position: relative;
	width: 100%;
	background-color: #838687;
	text-align: center;
	height: 50px;
	overflow: hidden;
}
/* Responsive design */
/* màn hình tablet*/
@media screen and (max-width: 850px){
	#hormenu{
		display: none;
	}
	#menusymbol{
		display: inline-block;
	}

}
/* màn hình smartphone */
@media screen and (max-width:600px){
	#search{
		width: 200px;
	}
	#searchsymbol{
		height: 15px;
		width: 15px;
		right: 10px;
	}
	#menusymbol{
		height: 20px;
		width: 20px;
	}
	#nav{
		height: 35px;
	}
	#header{
		height: 50px;
	}
	p{
		display: none;
	}
	#searchform{
		top: 3px;
	}
}
/* -------- */
.column{
	float: left;
}
.middle{
	width: 70%;
	background-color: white;
	height: 400px;
}
.side{
	background-color:#D8D8D8;
	width: 15%;
	height: 500px;
}
#menuarea{
padding: 0px;
margin: 0px;
}
.menu{
	color: black;
	padding: 20px;
	list-style-type: none;
	text-align: center;
}
.menu:hover{
	background-color:#A4A4A4;
}

.button{
	font-size: 15px;
	display: inline-block;
	margin: 0px;
	cursor: pointer;
	background-color: #838687;
	padding: 15px 40px;
	border: none;
	color:#D8D8D8;
}
.button:hover{
	background-color:#838687;
}
.dropdown{
	padding: 0;
	display: none;
    position: absolute;
}
.button:hover .dropdown{
    display: block;
}
.dropbut{
	color: white;
	top: 7px;
	position: relative;
	z-index: 3;
	background-color:#A4A4A4;
	padding: 10px 50px;
	display: block;
}
.dropbut:hover{
	background-color:#585858;
}